<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <title>Web Development</title>
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/about.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    </head>

    <body>
        <div class="navigation">
            <div class="container">
                <div class="navbar">
                <div class="navbar-header"> 
                    <a class="logo" href="/">Web Development</a>
                </div>
                <ul class="nav">
                    <li>
                        <a href="blogs">Blogs</a>
                    </li>
                    <li>
                        <a href="about">About</a>
                    </li>
                    <li>
                        <a href="Contact">Contact</a>
                    </li>
                </ul>
            </div>
            </div>
        </div>
        <div class="main-body">
            <img class="img" src="img/Web.jpg" alt="text">
            <div class="main-content">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, soluta? <br>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, totam?<br>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias veniam <br>
                     tempore vero facere error accusantium harum eum deleniti eaque commodi at mo <br>
                     llitia totam a, non laudantium! Debitis iste enim saepe. Lorem ipsum dolor sit amet. <br>
                </p>
                <img class="img" src="img/webs.jpg" alt="text">

                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, soluta? <br>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, totam?<br>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias veniam <br>
                     tempore vero facere error accusantium harum eum deleniti eaque commodi at mo <br>
                     llitia totam a, non laudantium! Debitis iste enim saepe. Lorem ipsum dolor sit amet. <br>
                </p>

                <img class="img" src="img/webdevelopment.jpeg" alt="text">
            </div>
        </div>

        <%- include('_footer.ejs') %>
    </body>
  
</html>

