<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <title>Web Development</title>
        <link rel="stylesheet" href="css/main.css">
    </head>

    <body>
        <div class="navigation">
            <div class="container">
                <div class="navbar">
                <div class="navbar-header"> 
                    <a class="logo" href="/">Web Development</a>
                </div>
                <ul class="nav">
                    <li>
                        <a href="Home">Home</a>
                    </li>
                    <li>
                        <a href="about">About</a>
                    </li>
                    <li>
                        <a href="Contact">Contact</a>
                    </li>
                </ul>
            </div>
            </div>
        </div>
        <div class="main-body">
            <h1 class="title">A Beginner Web Developer Should Understand</h1>
            <img src="img/Web.jpg" alt="text">
        </div>
    </body>
  
</html>